name: ci
permissions:
  contents: read
  pull-requests: write
on: pull_request
jobs:
  linting:
    strategy:
      matrix:
        python-version: ["3.13"]
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v5
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      #----------------------------------------------
      #  -----  install & configure UV -----
      #----------------------------------------------
      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      #----------------------------------------------
      #       load cached venv if cache exists
      #----------------------------------------------
      - name: Install dependencies
        run: uv sync --locked --all-extras --dev
      - name: Run ruff linter
        run: |
          uv run ruff check .
  # test:
  #   strategy:
  #     matrix:
  #       python-version: ["3.10", "3.11", "3.12", "3.13"]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out the repository
  #       uses: actions/checkout@v4
  #     - name: Setup python
  #       uses: actions/setup-python@v5
  #     #----------------------------------------------
  #     #  -----  install & configure poetry  -----
  #     #----------------------------------------------
  #     - name: Install Poetry
  #       uses: snok/install-poetry@v1
  #       with:
  #         virtualenvs-create: true
  #         virtualenvs-in-project: true
  #     #----------------------------------------------
  #     #       load cached venv if cache exists
  #     #----------------------------------------------
  #     - name: Install dependencies
  #       if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
  #       run: poetry install --no-interaction --no-root
  #     - name: Load cached venv
  #       id: cached-poetry-dependencies
  #       uses: actions/cache@v4
  #       with:
  #         path: .venv
  #         key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}
  #     - name: Run pytest
  #       run: |
  #         source .venv/bin/activate
  #         pytest
